<!DOCTYPE html>
<html ng-app="dashboardApp">

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- This is the link for the material icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
 
</head>

<body ng-controller="DashboardController" style="
      background-image: 
        url(./Resources/robert-thiemann-a1-gfxHdnwg-unsplash.jpg);
      background-size: cover;
      background-position:fixed;
      background-repeat: no-repeat;
    ">
    
  <nav class="nav top-navbar navbar-fixed grey darken-3 center-align"
    style="z-index: 100000000000000000; position:fixed;top:0%">
    <div class="nav-wrapper ">
      <a href="#" class="brand-logo custom_Logo valign-wrapper"
        style="display: flex; justify-content: space-in-between">
        <img src="./Resources/GMR_Group_(logo).svg.png" height="25px" alt="Logo" class="nav-logo" />&nbsp;&nbsp;
        <img src="./Resources/image.png" height="25px" alt="Logo" class="nav-logo" />&nbsp;&nbsp;
        <h5>SmartEMS v2.37</h5>
      </a>

      <ul class="right nav-wrapper" style="margin-right: 30px">
        <li><span class="user-info">Shravan SEMS-21</span></li>
        <li>
          <a href="#"><i class="material-icons">settings</i></a>
        </li>
        <li>
          <a href="#"><i class="material-icons">logout</i></a>
        </li>
        <li>
          <img src="./Resources/bosch.png" height="25px" alt="Bosch Logo" style="margin-top: 20px"
            class="custom_Logo" />
        </li>
      </ul>
    </div>
  </nav>

  <div class="container center-align " >
    <br><br><br>
    <h3>
      &nbsp;&nbsp;&nbsp;Welcome To <strong>DESCOM !!...</strong>
    </h3>
  </div>
  
  <div class="row">

    <div class="col s3">
      <!-- Grey navigation panel -->
      <ul id="slide-out" class="sidenav sidenav-fixed  brown lighten-3 ">
        <br><br><br>
        <div class="container right-align" style="margin:20%">
          <li><a href="#user" class="" style="min-height: 10%; margin:20%;padding:10%"> <i
                class="material-icons left medium black-text ">account_circle</i></a></li>
          <li>
            <h5 class="valign-wrapper">&nbsp;&nbsp;&nbsp;User Name</h5>
          </li>
          <li>
            <h6 class="valign-wrapper"><i class="material-icons">email</i>&nbsp;user@gmail.com</h6>
          </li>
          <li>
            <h6 class="valign-wrapper"><i class="material-icons">work_outline</i>&nbsp;Role</h6>
          </li>
        </div>


        <ul class="collection ">
          <li class="collection-item grey darken-1 hoverable" ng-repeat="card in cards">
            <div class="hoverable"  style="padding:3px">

              <a class="black-text">{{ card.title }}
                <i class="material-icons left ">{{ card.icon }}</i>
              </a>
            </div>
          </li>
        </ul>
      </ul>
    </div>

    <div class="col s9" >
      <!-- Teal page content  -->
      <!-- Dashboard content will go here -->
        <div class="row">
          <div class="col s12 m6 l4" ng-repeat="card in cards" style="border-radius: 5rem; min-width:30rem  ">
            <div class="card hoverable" style="
                  margin-left: 3px;
                  padding: 3px;
                  position: relative;
                  border-radius: 5%;
                " ng-class="card.color">
              <div class="card-content">
                <span class="card-title">
                  <i class="material-icons left medium white-text">{{card.icon}}</i>
                  <strong>{{card.title}}</strong>
                  <i class="material-icons right large white-text" ng-style="{'opacity': '0.25'}"
                    style="z-index: 10000;">{{card.icon}}</i>
                </span>
              </div>
              <br />
              <div class="card-action lighten3">
                <div class="progress container">
                  <div class="determinate grey lighten-1" style="width: {{card.progress}}%"></div>
                </div>
                <a href="{{card.link}}">
                  <i class="material-icons right white-text">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  </div>

</body>

</html>
