<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Materialize CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <!-- external CSS-->
  <link rel="stylesheet" href="./style.css">
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <!-- Compiled and minified CSS for icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


</head>

<body ng-app="myApp" ng-controller="MainCtrl">
  <!--top-navbar-->
  <nav class="nav top-navbar navbar-fixed grey darken-3 center-align" style="z-index: 10000;">
    <!-- navbar content here  -->
    <div class="nav-wrapper">

      <a href="#" class="brand-logo custom_Logo valign-wrapper"
        style="display: flex; justify-content: space-in-between">
        <img src="./Resources/GMR_Group_(logo).svg.png" height="25px" alt="Logo" class="nav-logo" />&nbsp;&nbsp;
        <img src="./Resources/image.png" height="25px" alt="Logo" class="nav-logo" />&nbsp;&nbsp;
        <h5>SmartEMS v2.37</h5>
      </a>

      <ul class="right nav-wrapper">
        <li><span class="user-info">user Name</span></li>
        <li>
          <a href="#"><i class="material-icons">settings</i></a>
        </li>
        <li>
          <a href="#"><i class="material-icons">logout</i></a>
        </li>
        <li>
          <img src="./Resources/bosch.png" height="25px" alt="Bosch Logo" style="margin-top: 20px" />
        </li>
      </ul>
    </div>
  </nav>
  <!--end of top nav-->

  <!-- Side Navbar -->
  <ul id="slide-out" class="sidenav sidenav-custom sidenav-fixed grey darken-3 ">
    <li class="user">
      <div class="user-view">
        <br>
        <i class="material-icons circle white-text">account_circle</i>
        <span class="white-text name">USER NAME</span>
        <span class="white-text role">job role</span>
      </div>
    </li>

    <li ng-repeat="card in cards" class="hoverable"><a href="#!" class="waves-effect"><i
          class="material-icons white-text circle">{{
          card.icon }}</i><span class="text white-text">{{card.title}}</span></a></li>




  </ul>

  <!--end of side nav-->
  <br><br>
  <!--main content-->
  <div class="container center-align">
    <div class="row">
      <div class="col s12 m6 l4" ng-repeat="card in cards" style="border-radius: 5rem; min-width:20rem  ">
        <div class="card hoverable" style="
              margin-left: 3px;
              padding: 3px;
              position: relative;
              border-radius: 5%;
            " ng-class="card.color">
          <div class="card-content">
            <span class="card-title">
              <i class="material-icons left medium white-text">{{card.icon}}</i>
              <strong>{{card.title}}</strong>
              <i class="material-icons right large white-text" ng-style="{'opacity': '0.25'}"
                style="z-index: 10000;">{{card.icon}}</i>
            </span>
          </div>
          <br />
          <div class="card-action lighten3">
            <div class="progress container">
              <div class="determinate grey lighten-1" style="width: {{card.progress}}%"></div>
            </div>
            <a href="{{card.link}}" ng-if="!card.modalTrigger">
              <i class="material-icons right white-text ">arrow_forward</i>
            </a>
  
            <!-- For API Status card, trigger modal -->
            <a class="modal-trigger" href="#modal1" ng-click="loadErrors()" ng-if="card.modalTrigger">
              <i class="material-icons right white-text">error</i> 
            </a>
          </div>
        </div>
      </div>

    </div>
    <!--end of the main content-->
    <!--modal-->
    <

    <!-- Modal Structure -->
    <!-- Modal Structure with Tabs -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>API STATUS</h4>

    <!-- Tab Navigation -->
    <ul id="tabs-swipe-demo" class="tabs">
      <li class="tab col s3"><a href="#auth-errors">Auth Timeout Errors</a></li>
      <li class="tab col s3"><a href="#http-errors">HTTP Errors</a></li>
      <li class="tab col s3"><a href="#api-errors">API Errors</a></li>
    </ul>

    <!-- Tab Content -->
    <div id="auth-errors">
      
      <ul id="auth-error-list"></ul>
    </div>

    <div id="http-errors">
      
      <ul id="http-error-list"></ul>
    </div>

    <div id="api-errors">
      
      <ul id="api-error-list"></ul>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
  </div>
</div>

    
    

     
</body>
<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./app.js"></script>


</html>
